<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Fantasy Draft{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <!-- Навигационная панель -->
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('home') }}">
        Fantasy Draft
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        {% if session.get('user_name') %}
        <div class="navbar-item">
          Здравствуйте, <strong>{{ session.user_name }}</strong>
        </div>
        <div class="navbar-item">
          <a class="button is-light" href="{{ url_for('logout') }}">
            Выйти
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </section>
</body>
</html>
