{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<h1 class="title">Войти</h1>
<form method="post">
  <div class="field">
    <label class="label">ID</label>
    <div class="control"><input class="input" type="text" name="id" placeholder="Например: 2" required></div>
  </div>
  <div class="field">
    <label class="label">Пароль (4 цифры)</label>
    <div class="control"><input class="input" type="password" name="password" maxlength="4" pattern="\\d{4}" placeholder="Например: 1234" required></div>
  </div>
  <div class="field is-grouped">
    <div class="control"><button class="button is-primary" type="submit">Войти</button></div>
    <div class="control"><a class="button is-light" href="{{ url_for('home.index') }}">Отмена</a></div>
  </div>
</form>
{% endblock %}
