{% extends "base.html" %}
{% block title %}Лайнапы{% endblock %}
{% block content %}
<h1 class="title">Лайнапы раунд {{ round }}</h1>
<form method="get" class="mb-4">
  <label class="label">Раунд</label>
  <div class="field has-addons">
    <div class="control"><input class="input" type="number" name="round" value="{{ round }}" min="1" style="width:90px"/></div>
    <div class="control"><button class="button is-link" type="submit">Показать</button></div>
  </div>
</form>
<table class="table is-striped is-compact">
  <thead><tr><th>Игрок</th><th>Позиция</th><th>Очки</th></tr></thead>
  <tbody>
    {% for p in players %}
    <tr><td>{{ p.name }}</td><td>{{ p.pos }}</td><td>{{ p.points }}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
